.title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.footer {
  margin-top: 12px;
  font-size: 0.9rem;
  text-align: center;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
