.header {
  width: 100%;
  height: 56px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.inner {
  max-width: 1800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: #212529;
  user-select: none;
}
